orange RCDATA "oranje.png"
red RCDATA "red.jpg"
blue RCDATA "blue.jpg"
green RCDATA "green.jpg"
purple RCDATA "purple.jpg"
bluemini RCDATA "blue_small.jpg"
greenmini RCDATA "green_small.jpg"
purplemini RCDATA "purple_small.jpg"
redmini RCDATA "red_small.jpg"
snake2 RCDATA "snake2.png"
snake3 RCDATA "snake3.png"
snake4 RCDATA "snake4.png"
ladder1 RCDATA "ladder1.png"
ladder2 RCDATA "ladder2.png"
ladder3 RCDATA "ladder3.png"
